<html>
<body>
<div align="center">
<h3>Prepared by Omar Mahmoud</h3>
    
<h1>Converting Nested JSON Structures to Pandas DataFrames</h1>

<h6> converting nested JSON structures to Pandas DataFrames can be a powerful tool for working with complex data. However, it's important to be mindful of the size and complexity of your data, and to choose the appropriate tools and techniques to work with it effectively.</h6>

<h3><a href="https://www.linkedin.com/in/omar-mahmoud-5bb616175/">LinkedIn</a>&nbsp; <a href="https://twitter.com/OmarMah25544092">Twitter</a>&nbsp; <a href="https://www.instagram.com/3amory99/">Instagram</a>&nbsp; <a href="https://www.facebook.com/Mora898/">Facebook</a></h3>
</div>

</div>
</body>
</html>

In [1]:
# Import the required liberies
import json
import pandas as pd

In [2]:
with open(r'Nested Columns.json') as file:
    data = json.load(file)

In [4]:
data

[{'id': '001',
  'company': 'XYZ pvt ltd',
  'location': 'London',
  'info': {'president': 'Rakesh Kapoor',
   'contacts': {'email': 'contact@xyz.com', 'tel': '9876543210'}}},
 {'id': '002',
  'company': 'PQR Associates',
  'location': 'Abu Dhabi',
  'info': {'president': 'Neelam Subramaniyam',
   'contacts': {'email': 'contact@pqr.com', 'tel': '8876443210'}}}]

In [7]:
df = pd.json_normalize(data)
df.head()

,id,company,location,info.president,info.contacts.email,info.contacts.tel
0,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
1,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210

In [9]:
df.columns = df.columns.map(lambda x: x.split(".")[-1])
df.head()

,id,company,location,president,email,tel
0,001,XYZ pvt ltd,London,Rakesh Kapoor,contact@xyz.com,9876543210
1,002,PQR Associates,Abu Dhabi,Neelam Subramaniyam,contact@pqr.com,8876443210

In [10]:
df.to_csv('sample.csv', index = False)